<% if (!user) { %>
    <p>Welcome! Please <a href="/login">log in</a>.</p>
<% } else { %>
    <style>
    table {
        border: black 2px solid;
        border-collapse: collapse;
    }

    table th {
        border: black 1px solid;
    }

    table td {
        border: black 1px solid;
    }
    </style>
    <script>
    function startServer() {
        httpGet('/start');
    }

    function stopServer() {
        httpGet('/stop');
    }

    function kickPlayer(id) {
        if (!(id >= 1 && id <= 32)) return false;
        httpGet('/kick/' + id);
    }

    function message() {
        httpGet('/message');
    }

    function httpGet(theUrl) {
        const xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", theUrl );
        xmlHttp.send( null );
    }
    </script>
    <p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
    <button onclick="startServer();">Start Server</button>
    <button onclick="stopServer();">Stop Server</button>
    <button onclick="message();">Message</button>
    <br>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for (i = 1; i <= 32; i++) { %>
                <tr>
                    <td><%= i %></td>
                    <td>Not available</td>
                    <td>
                        <button onclick="kickPlayer(<%= i %>);">Kick</button>
                    </td>
                </tr>
            <% } %>
    </table>

<% } %>
