<form action="/login" method="post">
    <div>
    <label for="username">Username:</label>
    <input
        id="username"
        type="text"
        name="username"
        autocomplete="username"
    /><br/>
    </div>
    <div>
    <label for="password">Password:</label>
    <input
        id="password"
        type="password"
        name="password"
        autocomplete="current-password"
    />
    </div>
    <div>
    <input type="submit" value="Submit"/>
    </div>
</form>
